version: '3.8'

services:
         
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: FLEET_GUARD
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin123
    ports:
      - "33333:5432"
    networks:
      - app-network
    volumes:
      - ./postgres-init:/docker-entrypoint-initdb.d
      - ./postgres-config/pg_hba.conf:/etc/postgresql/pg_hba.conf
      - pgadmin_data:/var/lib/pgadmin
    command: postgres -c listen_addresses='*'  
    
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - app-network
      
  backend:
    build: ./fatigue_drowsiness_system_backend
    container_name: backend
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - app-network

  frontend:
    build: ./fatigue_drowsiness_system_frontend/fatigue_drowsiness_system_frontend
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app-network
    environment:
      - VITE_API_URL=http://localhost:8080

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  pgadmin_data:

