# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle (si uses Gradle en lloc de Maven)
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
*.classpath
*.project
*.settings/
bin/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Spring Boot
application.properties
application.yml
application-local.properties
application-dev.properties
application-prod.properties

# Docker
*.pid
*.tar
*.env
docker-compose.override.yml

# Others
.env
*.swp
